@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Open+Sans&display=swap");

:root {
  --heading-font: 'Libre Baskerville', serif;
  --body-font: 'Opens Sans', sans-serif;

  --primary-background-color: #fafafa;

  --primary-foreground-color: #282828;

  --primary-accent-color: #ffc107;
  --secondary-accent-color: #cc9a02;

  --border-radius: 1rem;
}


html,
body,
#root {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: var(--body-font);
  transition: all 0.3 ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

a {
  color: var(--primary-foreground-color);
}

a:hover {
  color: var(--primary-accent-color);
}

button {
  border-radius: var(--border-radius);
  padding: 16px;
  background-color: var(--primary-accent-color);
  color: var(--primary-background-color);
  border: none;
}

button:hover {
  background-color: var(--secondary-accent-color);
  cursor: pointer;
}

.canvas {
  width: 100%;
  height: 100%;
}

/* Flex Layout */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.col.col-1 {
  flex-basis: 8.33%;
}

.col.col-2 {
  flex-basis: 16.66%;
}

.col.col-3 {
  flex-basis: 25%;
}

.col.col-4 {
  flex-basis: 33.33%;
}

@media screen and (max-width: 1440px) {
  .col.col-1 {
    flex-basis: 4.16%;
  }

  .col.col-2 {
    flex-basis: 8.33%;
  }

  .col.col-4 {
    flex-basis: 16.66%;
  }
}

@media screen and (max-width: 920px) {
  .row {
    flex-direction: column;
  }

  .col {
    margin: 1rem 0 1rem 0;
  }
}


/* Page */

.description {
  padding-right: 3rem;
}

@media screen and (max-width: 768px) {
  .description {
    padding: 1rem;
  }
}

/* Utilities */

.h-100 {
  height: 100%;
}

/* Start image styles */
.img-fluid {
  width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: var(--border-radius);
}

/* End image styles */

/* Start list styles */
ul {
  list-style: none;
}

ul li {
  padding-bottom: 0.5rem;
}

/* End list styles */

/* Start nav styles */

.nav {
  width: 75%;
  padding-top: 5ch;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-heading {
  font-size: 3rem;
  font-weight: bold;
  font-family: var(--font-heading);
}

.nav-list {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.link {
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  background: transparent;
  border: none;
  text-decoration: none;
}

.link:hover {
  color: var(--primary-accent-color);
}

.li {
  padding: 1rem;
  display: inline-block;
  vertical-align: middle;
}

.nav .active {
  color: var(--primary-accent-color);
}

@media screen and (max-width: 920px) {
  .nav {
    width: 75%;
    flex-direction: column;
  }
}

/* End nav styles */

/* Start modal */

/* The Modal (background) */
.modal-background {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

/* Modal Content/Box */
.modal-content {
  background-color: var(--primary-background-color);
  margin: 15% auto;
  padding: 20px;
  border-radius: var(--border-radius);
  width: 80%;
  max-width: 600px;
}

.close-button {
  margin-top: 16px;
  width: 100%;
  align-self: center;
  cursor: pointer;
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #e8daff;
}

/* End modal */