:root {
  --heading-font: 'Quicksand', sans-serif;
  --body-font: 'Open Sans', sans-serif;

  --primary-background-color: #fafafa;

  --primary-foreground-color: #282828;

  --primary-accent-color: #ffc107;
  --secondary-accent-color: #cc9a02;

  --border-radius: 1rem;
}


html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: var(--body-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

a, button, p {
  transition: all 0.2s ease-in-out;
}

a {
  color: var(--primary-accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-accent-color);
}
/* Flex Layout */

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 1ch 0 1ch;
}

/* Page */

.col.canvas-container {
  max-width: 50%;
}

.canvas {
  cursor: pointer;
  min-height: min(100vh, 100vw);
}

/* Utilities */

.container {
  width: 75%;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

.btn {
  font-weight: bold;
  border-radius: var(--border-radius);
  padding: 1ch;
  background-color: var(--primary-accent-color);
  color: var(--primary-background-color);
  text-align: center;
  border: none;
}

.btn:hover {
  color: var(--primary-background-color);
  background-color: var(--secondary-accent-color);
  cursor: pointer;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.p-2 {
  padding: 2ch;
}

.accent {
  color: var(--primary-accent-color);
}

/* Start image styles */
.img-fluid {
  width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: var(--border-radius);
}

/* End image styles */

/* Start list styles */
ul {
  list-style: none;
}

ul li {
  padding-bottom: 0.5rem;
}

/* End list styles */

/* Start nav styles */
.nav {
  width: 75%;
  padding-top: 5ch;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav .heading {
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--heading-font);
  color: var(--primary-foreground-color);
  display: flex;
  align-items: center;
}

.nav .heading .img {
  display: inline-block;
  width: 3rem;
  padding: 0.5rem;
}

.nav .list {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.nav a {
  color: var(--primary-foreground-color);
  stroke: var(--primary-foreground-color);
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  background: transparent;
  border: none;
  text-decoration: none;
}

.nav a:hover {
  color: var(--primary-accent-color);
  stroke: var(--primary-accent-color);
}
/* End nav styles */

/* Start footer styles */
.footer {
  width: 100%;
  text-align: center;
}
/* End footer styles */

.li {
  padding: 0 1rem 0 1rem;
  display: inline-block;
  vertical-align: middle;
}

.nav .link {
  cursor: pointer;
  color: var(--primary-foreground-color);
}

.nav .link:hover {
  color: var(--primary-accent-color);
}

.nav .link.active {
  color: var(--primary-accent-color);
}
/* End nav styles */

/* Start modal */
.modal-background {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: var(--primary-background-color);
  margin: 15% auto;
  padding: 20px;
  border-radius: var(--border-radius);
  width: 80%;
  max-width: 600px;
}

.close-button {
  margin-top: 16px;
  width: 100%;
  align-self: center;
  cursor: pointer;
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #e8daff;
}
/* End modal */

/* Nav */
.menu-item {
  perspective: 2000px;
}

.sub-menu {
  z-index: 100;
  position: absolute;
  width: 200px;
  top: 30px;
  padding: 15px;
  background-color: var(--primary-accent-color);
  border-radius: 6px;
  transform-origin: 50% -30px;
}

.sub-menu a {
  color: var(--primary-foreground-color)
}

.sub-menu a:hover {
  color: var(--primary-background-color);
}

.sub-menu a.active {
  color: var(--primary-background-color);
}

.sub-menu-container {
  text-align: left;
}

.sub-menu-item {
  margin-bottom: 5px;
}
/* Nav */

/* Start tooltip */
.tooltip-text {
  color: var(--primary-accent-color);
  border-bottom: 2px dotted var(--primary-accent-color);
}

.tooltip-text:hover {
  color: var(--secondary-accent-color);
  border-bottom: 2px dotted var(--secondary-accent-color);
}

.tooltip {
  position: relative;
  text-decoration: none;
}

.tooltip::before{
  pointer-events: none;
  position: absolute;
  content: attr(aria-label);
  background-color: var(--primary-accent-color);;
  border-radius: 4px;
  color: var(--primary-background-color);
  pointer-events: all;
  padding: 6px 12px;
  overflow: hidden;
  top: unset;
  width: 17rem;
}

.tooltip::after{
  content: "";
  position: absolute;
  pointer-events: none;
  position: absolute;
  z-index: 100;
  pointer-events: all;
}

.tooltip:is([data-tooltip="top"])::before{
  bottom: 100%;
  left: 0%;
  margin-bottom: 16px;
}

/* Arrow */
.tooltip:is([data-tooltip="top"])::after{
  bottom: 100%;
  left: 20%;
  margin-bottom: 8px;

  display: inline-block;
  vertical-align: middle;
  width: 0; 
  height: 0; 

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--primary-accent-color);
}
/* End tooltip */

.loader {
  display: block;
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid var(--primary-background-color);
  border-top: 0.5rem solid var(--primary-accent-color);
  border-radius: 50%;
  position: absolute;
  box-sizing: border-box;
}

/* Responsive styles */
@media screen and (max-width: 920px) {
  .nav {
    width: 100%;
    flex-direction: column;
  }

  .description {
    padding-right: 3rem;
    padding-left: 3rem;
  }

  .row {
    flex-direction: column;
  }

  .col.canvas-container {
    max-width: 100%;
    min-width: 100%;
  }
}
